/* Styling for the SPA landing page */

html,
body {
    height: 100%;
    text-rendering: optimizeLegibility;
}

.coverbg,
#next-section {
    font-size: 20px;
}

.coverbg {
    background-size: cover;
    color: white;
    height: 100%;
}

#cover-caption {
    padding-top: 150px;
    width: 100%;
    text-align: center;
}

.coverbg h1, .coverbg h2, .coverbg h3, .coverbg p, .coverbg footer,
#next-section h1, #next-section h2, #next-section h3, #next-section p, #next-section footer
{
    font-family: 'Lato','Arial', sans-serif;
}

.coverbg h1 {
    font-weight: 100;
    word-spacing: 8px;
    letter-spacing: -3px;
    font-size: 400%;
}

h2 {
    padding-bottom: 30px;
}

.coverbg h3,
#next-section h3
{
    line-height: 1.45455;
    font-weight: 300;
    letter-spacing: -.25px;
    font-size: 130%;
}

#next-section {
    text-align: center;
}

.feature-row {
    padding-top: 80px;
}

.feature-row h2 {
    color: #2177d0;
    font-weight: 300;
    font-size: 290%;
}

.feature-row h3,
.feature-row-end h3 {
    /*color: #797979;*/
    color: #2177d0;
    font-weight: 300;
    font-size: 100%;
}

.feature-row p {
    color: #737373;
    font-weight: 300;
    font-size: 80%;
}

.feature-row-end {
    padding-bottom: 80px;
}

.feature-row-end h3 {
	color: #737373;
    font-weight: 300;
    font-size: 180%;
}

.feature-row img {
    height: 130px;
}

@media only screen and (max-width: 767px) {
    
    .feature-row {
        padding-top: 30px;
    }
	
    .coverbg h1 {
        font-size: 300%;
    }
	
    .feature-row h2 {
        font-size: 280%;
    }
	
    .coverbg h3, #next-section h3 {
        font-size: 100%;
    }
	
    #cover-caption {
        padding-top: 80px;
    }
		
}