/* Spectrum Navigation Styling */

/* Center NAV */
@media (min-width: 768px) {
	
    .navbar-brand {
        display: none;
        font-size: 16px;
    }
	
    .nav.navbar-nav,
    .user-id {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
	
    .navbar-nav,
    .user-id {
        float: none;
    }
	
    /* allows logged in user to sit closer to nav bar */
    .navbar {
        margin-bottom: 0px;
    }
	
    .user-id {
        color: #777;
        font-size: 16px;
        /* The margin the nav would have had */
        margin-bottom: 20p;
    }
	
    .user-id.home {
        color: #9d9d9d; 
    }
}

/* Turn off centered login name when hamburger menu displayed */
@media (max-width: 768px) {
    .user-id {
        display: none;
    }
	
    .navbar-brand {
        font-size: 13px;
    }
}


/* General Nav */

.spectrum-nav {
    font-size: 16px;
}

.navbar-brand {
    color: #9d9d9d;
}

.spectrum-nav.home .navbar-nav>li>a {
    color: #9d9d9d;
}

.spectrum-nav.home .navbar-nav>li>a:hover,
.spectrum-nav.home .navbar-nav>li>a:active {
    color: #fff;
}

/* Home page nav background */
.spectrum-nav.home,
.spectrum-nav.home .collapsed{
    background-color: transparent;
    border-color: transparent;
    /*padding-right: 150px;*/
}

/*.spectrum-nav .collapsed{
	border-color: transparent;
}*/

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

@media only screen and (max-width: 767px) {
    
    .spectrum-nav .navbar-toggle {
        border-color: transparent;
    }

    .spectrum-nav.home .navbar-toggle{
        background-color: transparent;
    }
	
    .navbar-default.spectrum-nav.home .navbar-collapse, 
    .navbar-default.spectrum-nav.home .navbar-form {
        border-color: transparent;
    }
	
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
}