/* Spectrum Footer Styling */

footer {
    background-color: #3e3e3e;
    height: 250px;
    color: #c3c3c3;
    font-size: 20px;
    /*font-size: 0.9rem;*/
    text-decoration: none;
}

.footer-title {
    padding-top: 50px;
}

footer h3 {
    font-size: 100%;
    font-weight: 400;
    color: #efefef;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer ul li {
    line-height: 1.3;
}

footer a {
    font-size: 80%;
    color: #c3c3c3;
}

footer li a:hover,
footer li a:active {
    color: #efefef;
}

@media only screen and (max-width: 767px) {
	
    .footer-title {
        padding-top: 10px;
    }
	
    .about {
        padding-top: 10px;
    }
}

