/* Go crazy with your own styles here */
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */

/*********************************************************/
/* This is the main section                              */
/*********************************************************/
body {
  background-color: #fff;
}

.panel {
 width: 80%;
  margin: 2em auto;
}

.bootstrap-basic {
  background: white;
}

.panel-body {
  width: 90%;
  margin: 2em auto;
}

.helper-text {
  color: #8A6D3B;
  font-size: 12px;
  margin-top: 5px;
  height: 12px;
  display: block;
}

@media (max-width: 670px) {
  .form-group {
    width: 100%;
  }
  
  .btn {
    white-space: normal;
  }
}

/**************************************************/
/* Login form remove yellow background from input fields */
/**************************************************/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
    }

/**************************************************/
/* General table styling */
/**************************************************/

/* Makes the table header row higher and adds a nice linear gradient */
#appointmentsGrid thead th,
#transactionsGrid thead th {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	background-color: #e6f2ff;
}

/* Adds an outer border to tables but removes inner borders */
#appointmentsGrid.table,
#transactionsGrid.table {
	border: 1px solid #e0e0e0;
}

#appointmentsGrid td,
#appointmentsGrid th,
#transactionsGrid td,
#transactionsGrid th {
	border:none;
}

/**************************************************/
/* Main partial styling */
/**************************************************/

/* Ensures main partial use the full canvas excluding the footer. */
.content-container {
	min-height: 100%;
	min-height: 100vh;
}

.center-content {
	margin-bottom: 20px;
}

/* Moves the partial content down giving it proprtion to the viewport */
@media (min-width: 768px) {
	.center-content {margin-top: 20px;}
}

/* Partial Form field spacing */
.account-wall input,
.account-wall textarea {
	margin-bottom: 10px;
}

.account-wall .list-group {
	margin-bottom: 0px;
}

.account-wall button {
	margin-top: 20px;
}

/* A nice ligh weight heading for the patial title */
h2.partial-title {
	font-family: 'Lato','Arial', sans-serif;
	font-size: 230%;
	font-weight: 300;
	padding-bottom: 10px;
	text-align: center;
}

h2.title-sub {
	font-size: 150%;
	font-weight: 400;
	margin-top: 0;
}

.attendees-list {
	font-weight: 600;
}


.calendar-position input {
	float: left;	
}

.calendar-position span.field-validation-valid {
	clear: both;
	display: block;
}

.button-stack {
	margin-bottom: 20px;
}

/* General create button from list view. Align it with toolbar */
.create-btn {
	margin-right: 20px;
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.calendar-position input.form-control {width: 92%;}
	.calendar-position .btn {width: 8%;}
}

@media (min-width: 991px) {
	.calendar-position input.form-control {width: 88%;}
	.calendar-position .btn {width: 10%;}
}

@media (max-width: 767px) {
	.calendar-position input.form-control {width: 90%;}
	.calendar-position .btn {width: 10%;}
}

/* Dashboard appointments mobile display */
@media (max-width: 768px) {
	
	#appointmentsGrid-header {margin-top: 0; margin-bottom: 5px;}
	
	/*- turn off columns not required */
	/* nth child starts from 1 for column 1 */
	#appointmentsGrid thead tr th:nth-child(1),
	#appointmentsGrid thead tr th:nth-child(3),
	#appointmentsGrid thead tr th:nth-child(4),
	#appointmentsGrid thead tr th:nth-child(6),
	#appointmentsGrid thead tr th:nth-child(7){display: none;}

	#appointmentsGrid tr td:nth-child(1),
	#appointmentsGrid tr td:nth-child(3),
	#appointmentsGrid tr td:nth-child(4),
	#appointmentsGrid tr td:nth-child(6),
	#appointmentsGrid tr td:nth-child(7){display: none;}
	
	/* General create button from list view. Make it full width and vertically spaced from searchbar */
	.create-btn {
		margin-bottom: 15px;
		width: 100%;
	}
	
	/* A litte re-arranging for mobile */
	.bootgrid-header .search {display: block; margin-bottom: 10px; width: 100%;}
	.bootgrid-header .actionBar {text-align: left;}
	.col-sm-12.actionBar {padding-left: 0; padding-right: 0;}
	#appointmentsGrid tr td:nth-child(5) {text-align: left;}
	
	/* If actions buttons re-required un-comment the below. Currently switched off */
	/*.actionBar {padding-left: 0;}
	.actions.btn-group {display: block;}*/
	
	/* Switch off button bar */
	.actions.btn-group {display: none;}
	
	.bootgrid-footer .infoBar {text-align: left; padding-left: 0; margin-top: 10px;}
}

/* Dashboard transactions mobile display */
@media (max-width: 768px) {
	
	#transactionsGrid-header {margin-top: 0; margin-bottom: 5px;}
	
	/*- turn off columns not required */
	/* nth child starts from 1 for column 1 */
	#transactionsGrid thead tr th:nth-child(1),
	#transactionsGrid thead tr th:nth-child(4),
	#transactionsGrid thead tr th:nth-child(6){display: none;}
	
	#transactionsGrid thead tr th:nth-child(5){
		text-align: right;
		padding-right: 10px;
	}

	#transactionsGrid tr td:nth-child(1),
	#transactionsGrid tr td:nth-child(4),
	#transactionsGrid tr td:nth-child(6){display: none;}
	
	#transactionsGrid tr td:nth-child(5){
		text-align: right;
		padding-right: 10px;
	}
}