/* Go crazy with your own styles here */
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */

/*********************************************************/
/* This is the main section                              */
/*********************************************************/
body {
  background-color: #fff;
}

.panel {
 width: 80%;
  margin: 2em auto;
}

.bootstrap-basic {
  background: white;
}

.panel-body {
  width: 90%;
  margin: 2em auto;
}

.helper-text {
  color: #8A6D3B;
  font-size: 12px;
  margin-top: 5px;
  height: 12px;
  display: block;
}

@media (max-width: 670px) {
  .form-group {
    width: 100%;
  }
  
  .btn {
    white-space: normal;
  }
}

/**************************************************/
/* Login form remove yellow background from input fields */
/**************************************************/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
    }



/**************************************************/
/* Main partial styling */
/**************************************************/

/* Ensures main partial use the full canvas excluding the footer. */
.content-container {
	min-height: 100%;
	min-height: 100vh;
}

.center-content {
	margin-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Moves the partial content down giving it proprtion to the viewport */
@media (min-width: 768px) {
	.center-content {margin-top: 20px;}
}

/* Partial Form field spacing */
.account-wall input,
.account-wall textarea {
	margin-bottom: 10px;
}

.account-wall .list-group {
	margin-bottom: 0px;
}

.account-wall button {
	margin-top: 20px;
}

/* A nice ligh weight heading for the patial title */
h2.partial-title {
	font-family: 'Lato','Arial', sans-serif;
	font-size: 230%;
	font-weight: 300;
	padding-bottom: 10px;
	padding-top: 20px;
	text-align: center;
}

h2.title-sub {
	font-size: 150%;
	font-weight: 400;
	margin-top: 0;
}

.attendees-list {
	font-weight: 600;
}


.calendar-position input {
	float: left;	
}

.calendar-position span.field-validation-valid,
.calendar-position span.field-validation-error {
	clear: both;
	display: block;
}

.button-stack {
	margin-bottom: 20px;
}

/* General create button from list view. Align it with toolbar */
.create-btn {
	margin-right: 20px;
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.calendar-position input.form-control {width: 92%;}
	.calendar-position .btn {width: 8%;}
}

@media (min-width: 991px) {
	.calendar-position input.form-control {width: 88%;}
	.calendar-position .btn {width: 10%;}
}

@media (max-width: 767px) {
	.calendar-position input.form-control {width: 90%;}
	.calendar-position .btn {width: 10%;}
}





/* Genral mobile */
@media (max-width: 768px) {

	h2.partial-title {
		padding-top: 0;
	}
}

input.input-validation-error,
textarea.input-validation-error{
	margin-bottom: 0;
}

label {
	font-weight: 400;
}

.find-address {
	font-style: italic;
}

/* Element initially not displayed */
.disp-none {
	display: none;
}

.form-group.postcode-finder,
.form-control.postcode-finder{
	margin-bottom: 2px;
}

/* Waiting animation outer div */
#loading {
	width: 100%;
}

#loading-image {
	background-color: blue;
	width: 30px;
	display: block;
	margin: 0 auto;
}