@using Spectrum.Content.Components.Models
@using Spectrum.Content.Components.ViewModels
@model CardStackViewModel
@{
    int i = 1;
}

@{ ViewBag.CardCount = Model.Cards.Count(); }

<div class="row">

    @foreach (CardModel card in Model.Cards)
    {
        @*<div>@i</div>*@
    { ViewBag.index = @i; }
    @Html.Partial("Partials/Spectrum/Components/Card", card)
        i++;
    }
</div>

