<table id="appointmentsGrid" class="table table-condensed table-hover table-striped">
    <thead>
    <tr>
        <th data-column-id="id" data-header-align="center" data-align="center">Id</th>
        <th data-column-id="startTime" data-formatter="startTime" data-header-align="center" data-align="center">Date</th>
        <th data-column-id="status" data-header-align="center" data-align="center">Status</th>
        <th data-column-id="paymentId" data-header-align="center" data-align="center" data-formatter="paymentId">Payment Id</th>
        <th data-column-id="location" data-header-align="center" data-align="center">Location</th>
        <th data-column-id="description" data-header-align="center" data-align="center">Description</th>
        <th data-column-id="actions" data-header-align="center" data-align="center" data-formatter="actions">Commands</th>
    </tr>
    </thead>
</table>

<script>

    var appointmentsGrid = $("#appointmentsGrid").bootgrid({
        labels: {
            noResults: "No appointments found"
        },
        searchSettings: {
            delay: 100,
            characters: 1
        },
        templates: {
            header: "<div id=\"{{ctx.id}}\" class=\"{{css.header}}\"><div class=\"row\"><div class=\"col-sm-12 actionBar\"><h4>Appointments</h4><p class=\"{{css.search}}\"></p><p class=\"{{css.actions}}\"></p></div></div></div>",
        },
        ajax: true,
        url: "/umbraco/Surface/Appointments/GetBootGridAppointments",
        formatters: {
            "startTime": function(column, row) {
                return moment(row.startTime).format('ddd DD MMM HH:mm');
            },
            "paymentId": function (column, row) {
                if (row.paymentId !== "") {
                    return '<a href="#" class="link-payment" data-payment-id=' + row.paymentId + '>' + row.paymentId + '</a>';
                }

                return '<a href="' + row.takePaymentUrl + '" style="color: red">Take Payment</a>';
            },
            "actions": function (column, row) {
                return '<a href="#" class="link-view-appointment" data-encrypted-appointment-id=' +
                    row.encryptedId +
                    '>View</a>' +
                    '&nbsp;|&nbsp;<a href="#" class="link-edit-appointment" data-encrypted-appointment-id=' +
                    row.encryptedId +
                    '>Update</a>' +
                    '&nbsp;|&nbsp;<a href="#" class="link-delete-appointment" data-appointment-id=' + row.id + ' data-encrypted-appointment-id=' +
                    row.encryptedId +
                    '>Delete</a>';
            }
        }
    }).on("loaded.rs.jquery.bootgrid", function () {

        appointmentsGrid.find(".link-payment").on("click", function (e) {
            var transactionsId = $(this).data("payment-id");
            event.preventDefault();

            $.ajax({
                url: '/umbraco/Surface/Transactions/View/' + transactionsId,
                success: function (data) {
                    onTransaction(data);
                }
            });
        }).end().find(".link-view-appointment").on("click", function (e) {
            var appointmentId = $(this).data("encrypted-appointment-id");
            event.preventDefault();

            $.ajax({
                url: '/umbraco/Surface/Appointments/View/' + appointmentId,
                success: function (data) {
                    jQuery('#appointment').html(data);
                    jQuery('#appointment').dialog({ 'title': 'View Appointment', 'width': 'auto', 'height': 'auto' });
                    jQuery('#appointment').dialog().css("border-color", "blue");
                }
            });
        }).end().find(".link-edit-appointment").on("click", function (e) {
            var appointmentId = $(this).data("encrypted-appointment-id");
            event.preventDefault();

            $.ajax({
                url: '/umbraco/Surface/Appointments/Edit/' + appointmentId,
                success: function (data) {
                    jQuery('#appointment').html(data);
                    jQuery('#appointment').dialog({ 'title': 'Update Appointment', 'width': 'auto', 'height': 'auto', modal: true, 'css' : 'border-color:blue'});
                }
            });
        }).end().find(".link-delete-appointment").on("click", function (e) {

            var appointmentId = $(this).data("appointment-id");
            var encryptedAppointmentId = $(this).data("encrypted-appointment-id");

            event.preventDefault();

            confirm("Confirm you want to delete apppointment id  " + appointmentId,
                function() {
                    $.ajax({
                        url: '/umbraco/Surface/Appointments/Delete/' + encryptedAppointmentId,
                        success: function (data) {
                            appointmentsGrid.bootgrid("reload");
                        }
                    });
                });
       });
    });
    
 </script>

    <div id="appointment"></div>

    <script type="text/javascript">

        window.confirm = function (message, callback, caption) {
            caption = caption || 'Confirmation';
            $(document.createElement('div')).attr({
                title: caption,
                'class': 'dialog'
            }).html(message).dialog({
                dialogClass: 'fixed',
                buttons: {
                    "OK": function () {
                        $(this).dialog('close');
                        callback();
                        return true;
                    },
                    "Cancel": function () {
                        $(this).dialog('close');
                        return false;
                    }
                },
                close: function () {
                    $(this).remove();
                },
                draggable: false,
                modal: true,
                resizable: false,
                width: 'auto'
            });
        };

    </script>


