@using System.Web.Mvc.Html
@using Spectrum.Content.Payments.Controllers
@using Umbraco.Web

@inherits UmbracoViewPage<Spectrum.Content.Payments.ViewModels.PaymentViewModel>
@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

<div style="text-align: center;" >
    <h4>PayPal Payments not currently supported.</h4>
</div>
