@using Spectrum.Content.Customer.Controllers
@using Spectrum.Content.Customer.ViewModels
@model AddressSearchViewModel
@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

<label class="control-label">Postcode *</label>
<div class="form-group postcode-finder">

    <div class="calendar-position form-group postcode-finder">
        @Html.EditorFor(model => model.PostCode, new { htmlAttributes = new { @class = "form-control postCode postcode-finder" } })
        <span class="btn find-address" style="cursor: pointer;">
            <i class="fa fa-search " aria-hidden="true" id="findAddress"></i>
        </span>
        <div id="loading" class="disp-none">
            <img id="loading-image" src="../../../../images/spectrum/rollingBlue.gif" alt="Loading..." />
        </div>
        @Html.ValidationMessageFor(model => model.PostCode, "", new { @class = "text-danger" })
    </div>
</div>

<div id="addressResult"></div>
<div class="form-group">
    <select id="addressList" class="form-control disp-none" onchange="addressSelected(this.selectedIndex);" onfocus="this.selectedIndex = -1;"></select>
</div>

<label class="control-label">House Number *</label>
<div class="form-group">
    @Html.EditorFor(model => model.BuildingNumber, new { htmlAttributes = new { @class = "form-control buildingNumber" } })
    @Html.ValidationMessageFor(model => model.BuildingNumber, "", new { @class = "text-danger" })
</div>

<script src="../../../../scripts/spectrum/address.js"></script>