@using Spectrum.Content.Customer.Controllers
@using Spectrum.Content.Customer.ViewModels
@model AddressSearchViewModel
@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

<label class="control-label">Postcode *</label>
<div class="form-group postcode-finder">

    <div class="calendar-position form-group postcode-finder">
        @Html.EditorFor(model => model.PostCode, new { htmlAttributes = new { @class = "form-control postCode postcode-finder" } })
        <span class="btn find-address" style="cursor: pointer;">
            <i class="fa fa-search " aria-hidden="true" id="findAddress"></i>
        </span>
        @Html.ValidationMessageFor(model => model.PostCode, "", new { @class = "text-danger" })
    </div>
</div>

<div id="addressResult"></div>
<div class="form-group">
    <select id="addressList" class="form-control disp-none" onchange="addressSelected(this.selectedIndex);" onfocus="this.selectedIndex = -1;"></select>
</div>

@*Spinner*@
<div id="loading" class="disp-none">
    <img id="loading-image" src="../../../../media/rolling/rollingBlue.gif" alt="Loading..." />
</div>

<label class="control-label">House Number *</label>
<div class="form-group">
    @Html.EditorFor(model => model.BuildingNumber, new { htmlAttributes = new { @class = "form-control buildingNumber" } })
    @Html.ValidationMessageFor(model => model.BuildingNumber, "", new { @class = "text-danger" })
</div>

<script>

$(document).ready(function () {

    $("#findAddress").click(function() {

        var postCode = $('#PostCode').val();

        if (!postCode) {
            console.log('postcode is empty');

            //make the validation error span for postcode appear
            $('.find-address + span').addClass('field-validation-error');
            $('.find-address + span').removeClass('field-validation-valid');
            $('.find-address + span').text("Please enter a postcode");
            return;
        } else {
            //make the validation error span for postcode dissaapear
            $('.find-address + span').removeClass('field-validation-error');
            $('.find-address + span').addClass('field-validation-valid');
            $('.find-address + span').text("");
        }

        //Clear
        $("#addressList").empty();
        //$('#addressResult').text('Searching...');

        var url = "/umbraco/Surface/Search/GetAddresses";

        var postData = {
            buildingNumber: "",
            postCode: postCode
        };

        //Show the spinner
        $('#loading').removeClass('disp-none');
        $('#addressList').addClass('disp-none');

        $.ajax({
            url: url,
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(postData),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //console.log('Server success ', data);
                //Hide the spinner
                $('#loading').addClass('disp-none');

                //$('#addressResult').text('');
                $('#addressList').removeClass('disp-none');

                for (i=0; i<data.length; i++) {
                    //console.log('order ' + data[i].FullAddress);
                    $('#addressList').prepend(prependAddress(i, ' ' + data[i].FullAddress, data[i].BuildingNumber));
                }

                //Reverse the list as prepend reverses it fpr some strange reason
                var list = $('#addressList');
                var listItems = list.children('option');
                list.append(listItems.get().reverse());

                $('#addressList').prepend('<option value="" disabled="disabled" selected="selected">Please select address</option>');

            },
            error: function (request, status, errorThrown) {
                //console.log('Server error ' + errorThrown);
                //Hide the spinner
                $('#loading').addClass('disp-none');

                $('#addressList').removeClass('disp-none');
                window.location.href = "/error";
            }
        });
    });
});


function prependAddress(index, inputValue, buildingNumber) {

    //console.log('prepend input value = ' + inputValue);
    var retVal = '<option id="Address_' + index + '" value=' + buildingNumber + '>' + inputValue + '</option>';
    return (retVal);
}

function addressSelected(index) {
    var addressDropdown = document.getElementById("addressList");
    var buildingNumber = addressDropdown.options[index].value;

    //console.log('dropdown list changed. index ' + index + ' buildNumber ' + buildingNumber);
    $('#BuildingNumber').val(buildingNumber);
}

</script>