<table id="invoicesGrid" class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th data-column-id="invoiceDate" data-formatter="date" data-header-align="center" data-align="center">Date</th>
            <th data-column-id="status" data-formatter="status" data-header-align="center" data-align="center">Status</th>
            <th data-column-id="clientName" data-header-align="center" data-align="center" data-formatter="client">Client</th>
            <th data-column-id="amount" data-header-align="center" data-align="center">Amount</th>
            <th data-column-id="actions" data-header-align="center" data-align="center" data-formatter="actions">Commands</th>
        </tr>
    </thead>
</table>

<script>

    var transactionsGrid = $("#invoicesGrid").bootgrid({
        labels: {
            noResults: "No invoices found"
        },
        searchSettings: {
            delay: 100,
            characters: 1
        },
        templates: {
            header: "<div id=\"{{ctx.id}}\" class=\"{{css.header}}\">" +
                "<div class=\"row\">" +
                "<h2 class=\"partial-title\">Invoices</h2>" +
                "</div>" +
                "<div class=\"row\">" +
                "<div class=\"col-sm-12 actionBar\">" +
                "<p class=\"{{css.search}}\"></p>" +
                "<p class=\"{{css.actions}}\">" +
                "</p>" +
                "</div>" +
                "</div>" +
                "</div>"
        },
        ajax: true,
        requestHandler: function (request) {
            request.sortItems = [];
            if (request.sort == null)
                return request;
            for (var property in request.sort) {
                if (request.sort.hasOwnProperty(property)) {
                    request.sortItems.push({ Field: property, Type: request.sort[property] });
                }
            }
            return request;
        },
        url: "/umbraco/Surface/Invoice/GetBootGridInvoices",
        formatters: {
            "date": function (column, row) {

                var today = moment();

                if (moment(row.invoiceDate).isSame(today, 'day')) {
                    return "<b title='" + moment.utc(row.invoiceDate).format('ddd DD MMM') + "'>Today</b>";
                }

                return moment.utc(row.invoiceDate).format('ddd DD MMM');
            },
            "client": function (column, row) {
                return '<a href=' + row.clientUrl + '>' + row.clientName + '</a>';
            },
            "status": function(column, row) {

                if (row.paymentId == null) {
                    return '<a href=' + row.makePaymentUrl + ' style="color:red">Unpaid</a>';
                }

                return '<a href=' + row.viewPaymentUrl + '>Paid</a>';
            },
            "actions": function (column, row) {
                return '<a href="' + row.viewInvoiceUrl + '">View</a>';
            }
        }
    });
</script>

