<table id="invoicesGrid" class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th data-column-id="id" data-header-align="center" data-align="center">Id</th>
            <th data-column-id="invoiceDate" data-formatter="date" data-header-align="center" data-align="center">Date</th>
            <th data-column-id="status" data-header-align="center" data-align="center">Status</th>
            <th data-column-id="client" data-header-align="center" data-align="center">Client</th>
            <th data-column-id="amount" data-header-align="center" data-align="center">Amount</th>
            <th data-column-id="actions" data-header-align="center" data-align="center" data-formatter="actions">Commands</th>
        </tr>
    </thead>
</table>

<script>

    var transactionsGrid = $("#invoicesGrid").bootgrid({
        labels: {
            noResults: "No invoices found"
        },
        searchSettings: {
            delay: 100,
            characters: 1
        },
        templates: {
            header: "<div id=\"{{ctx.id}}\" class=\"{{css.header}}\">" +
                "<div class=\"row\">" +
                "<h2 class=\"partial-title\">Invoices</h2>" +
                "</div>" +
                "<div class=\"row\">" +
                "<div class=\"col-sm-12 actionBar\">" +
                "<a class=\"btn btn-md btn-primary button-stack create-btn\" role-\"button\" href=\"createinvoice\">Create Invoice</a>" +
                "<p class=\"{{css.search}}\"></p>" +
                "<p class=\"{{css.actions}}\">" +
                "</p>" +
                "</div>" +
                "</div>" +
                "</div>"
        },
        ajax: true,
        requestHandler: function (request) {
            request.sortItems = [];
            if (request.sort == null)
                return request;
            for (var property in request.sort) {
                if (request.sort.hasOwnProperty(property)) {
                    request.sortItems.push({ Field: property, Type: request.sort[property] });
                }
            }
            return request;
        },
        url: "/umbraco/Surface/Invoices/GetBootGridInvoices",
        formatters: {
            "date": function (column, row) {
                return moment.utc(row.invoiceDate).format('ddd DD MMM');
            },
            "actions": function (column, row) {
                return '<a href="' + row.viewInvoiceUrl + '">View</a>';
            }
        }
    });
</script>

