<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="Spectrum-Appointments" connectionString="data source=localhost; initial catalog = SPECTRUM; persist security info = True; Integrated Security = SSPI; " providerName = "System.Data.SqlClient"/>
  <add name="Spectrum-Authentication" connectionString="data source=localhost; initial catalog = SPECTRUM; persist security info = True; Integrated Security = SSPI; " providerName = "System.Data.SqlClient"/>
  <add name="Spectrum-Correspondence" connectionString="data source=localhost; initial catalog = SPECTRUM; persist security info = True; Integrated Security = SSPI; " providerName = "System.Data.SqlClient"/>
  <add name="Spectrum-Customer" connectionString="data source=localhost; initial catalog = SPECTRUM; persist security info = True; Integrated Security = SSPI; " providerName = "System.Data.SqlClient"/>
  <add name="Spectrum-Payments" connectionString="data source=localhost; initial catalog = SPECTRUM; persist security info = True; Integrated Security = SSPI; " providerName = "System.Data.SqlClient"/>
  <add name="Spectrum-Registration" connectionString="data source=localhost; initial catalog = SPECTRUM; persist security info = True; Integrated Security = SSPI; " providerName = "System.Data.SqlClient"/>
</connectionStrings>

