<?xml version="1.0" encoding="utf-8" ?>
  <appSettings>
    <add key="ScriptLocationSQLServer" value="C:/scorchio/projects/web/spectrum/DevOps/Spectrum/Database/Scripts/SQLServer" />
    <add key="ScriptLocationSQLCe" value="C:/scorchio/projects/web/spectrum/DevOps/Spectrum/Database/Scripts/SQLCe" />
  </appSettings>

