<?xml version="1.0" encoding="utf-8" ?>
<Spectrum>
  <add key="Spectrum-Database-Creation" value="True"/>
  <add key="Spectrum-Appointments-Enabled" value="True"/>
  <add key="Spectrum-Appointments-Enabled" value="True"/>
  <add key="Spectrum-Authentication-Enabled" value="True"/>
  <add key="Spectrum-Correspondence-Enabled" value="True"/>
  <add key="Spectrum-Customer-Enabled" value="True"/>
  <add key="Spectrum-Payments-Enabled" value="True"/>
  <add key="Spectrum-Registration-Enabled" value="True"/>
</Spectrum>

