<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="Spectrum-Appointments" connectionString="data source=localhost; initial catalog = SPECTRUM; persist security info = True; Integrated Security = SSPI; " providerName = "System.Data.SqlClient"/>
  <add name="Spectrum-Authentication" connectionString="data source=localhost; initial catalog = SPECTRUM; persist security info = True; Integrated Security = SSPI; " providerName = "System.Data.SqlClient"/>
  <add name="Spectrum-Correspondence" connectionString="data source=localhost; initial catalog = SPECTRUM2; persist security info = True; Integrated Security = SSPI; " providerName = "System.Data.SqlClient"/>
  <add name="Spectrum-Customer" connectionString="data source=localhost; initial catalog = SPECTRUM; persist security info = True; Integrated Security = SSPI; " providerName = "System.Data.SqlClient"/>
  <add name="Spectrum-Payments" connectionString="data source=localhost; initial catalog = SPECTRUM; persist security info = True; Integrated Security = SSPI; " providerName = "System.Data.SqlClient"/>
  <add name="Spectrum-Registration" connectionString="data source=localhost; initial catalog = SPECTRUM2; persist security info = True; Integrated Security = SSPI; " providerName = "System.Data.SqlClient"/>
  <add name="Spectrum-Registration-SQLCe" connectionString="Data Source=C:/scorchio/projects/web/spectrum/DevOps/Spectrum/Database/LocalDb/spectrum.sdf; Persist Security Info = False" providerName="System.Data.SqlServerCe.4.0"/>
  <add name="Spectrum-Correspondence-SQLCe" connectionString="Data Source=C:/scorchio/projects/web/spectrum/DevOps/Spectrum/Database/LocalDb/spectrum.sdf; Persist Security Info = False" providerName="System.Data.SqlServerCe.4.0"/>
</connectionStrings>

