<footer class="field dark">
    <div class="container">
        <div class="row footer-title">
            <div class="col-sm-2 col-sm-offset-4">
                <h3>Spectrum</h3>
                <ul>
                    <li><a href="~/about-us">About Us</a></li>
                    <li><a href="~/contact-us">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-2 about">
                <h3>About Spectrum</h3>
                <ul>
                    <li><a href="~/help/features">Features</a></li>
                    <li><a href="~/help/faq">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>