<footer class="field dark">
    <div class="container">
        <div class="row footer-title">
            <div class="col-sm-2 col-sm-offset-4">
                <h3>Spectrum</h3>
                <ul>
                    <li><a>About Us</a></li>
                    <li><a>Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-2 about">
                <h3>About Spectrum</h3>
                <ul>
                    <li><a>Features</a></li>
                    <li><a>FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>