@using Spectrum.Content.ContentModels
@model Spectrum.Content.Navigation.ViewModels.MenuViewModel
@{
}

<ul class="nav navbar-nav">    
    @foreach (MenuItemModel menuItem in Model.MenuItems)
    {
        <li>
            <a href="@menuItem.Link">@menuItem.Text</a>
        </li>
    }
</ul>